In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
iris_data = pd.read_csv("../dataset/iris.csv")

üîç Exploratory Data Analysis (EDA)
What is the distribution of each numerical feature?

Plot histograms or boxplots for SepalLengthCm, SepalWidthCm, PetalLengthCm, and PetalWidthCm.

Are there any missing or duplicate values in the dataset?

Check for and handle missing values or duplicates.

What is the average petal length for each species?

Group by Species and compute mean of PetalLengthCm.

Which species has the widest average sepal?

Find the species with the maximum mean SepalWidthCm.

Is there a correlation between sepal and petal dimensions?

Use a correlation matrix or pairplot.


-----------


üìä Visualization & Insights
Create a scatter plot of petal length vs petal width. Do species form distinct clusters?

Use a pairplot to visualize the relationships between all features by species. What patterns do you observe?

Visualize the data using a violin or boxplot to compare feature distribution across species. Which features vary the most?

Which feature is most useful in distinguishing between the species?

Use visual inspection or feature importance from a classifier.

In [4]:
iris_data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [5]:
iris_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [7]:
iris_data.duplicated().sum()

np.int64(0)

In [9]:
iris_data.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [10]:
iris_data.groupby("Species").aggregate("PetalLengthCm").mean()

Species
Iris-setosa        1.464
Iris-versicolor    4.260
Iris-virginica     5.552
Name: PetalLengthCm, dtype: float64

In [11]:
print("hello")

hello